/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

/.idea
!.idea/codeStyles
!.idea/codeStyles/codeStyleConfig.xml
!.idea/deployment.xml
!.idea/laravel-plugin.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/php.xml
!.idea/php-test-framework.xml
!.idea/bladesora.iml
!.idea/vcs.xml
!.idea/webServers.xml